html,body { 
    height: 100%; 
    overflow: hidden;
}
body { 
    font-family: 'Press Start 2P', cursive;;
    display: flex; 
    align-items: center; 
    justify-content: center;
    background: black; 
}
main {
    display: flex;
    position:fixed;
    z-index: -1;
}
span {
    display: block;
    width: 25px; 
    height: 20px; 
    font-size: 16px; 
    color: #ff9b9b11;
    text-align: center;
}
.container{
    height: 70%;
    width:900px;
    background-color: black;
    border: 2px solid hsl(0, 100%, 30%);
    color:hsl(0, 100%, 30%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    column-gap: 60px;
}
header{
    height: 60px;
    width: 900px;
    border-bottom: 2px solid hsl(0, 100%, 30%);
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header a{
    text-decoration-line: none;
    color:hsl(0, 100%, 30%);
    padding-right: 20px;
}
header h1{
    padding-left: 20px;
}
.content{
    height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px;
}
#window {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: black;
    border: 1px solid hsl(0, 100%, 30%);
    padding: 10px 20px;
}
#player1{
    height: 100px;
    width: 20px;
    background-color:hsl(0, 100%, 30%);
    position: relative;
    top:0px;
    left:20px;
}
#player2{
    height: 100px;
    width: 20px;
    background-color: hsl(0, 100%, 30%);
    position: relative;
    top:0px;
    right:20px;
}
#game {
    border: 1px solid hsl(0, 100%, 30%);
    background-color: black;
    width: 500px;
    height: 350px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#ball{
    background-color: hsl(0, 100%, 30%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}